@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
:root {
  --color-white: #fff;
  --color-primary: #3739c2;
  --color-third: #00bf95;
  --color-secound: #5b6152;
  --color-text: #1c2410;
  --color-pargraph: #1d1b41;
}

@font-face {
  font-family: "light";
  src: url("../fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Cairo-Bold.ttf");
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/Cairo-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  direction: ltr;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--color-white);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding: 0px;
}
p {
  margin-bottom: 0;
}
/* scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--color-third);
}
*::-webkit-scrollbar-thumb {
  background: var(--color-pargraph);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}

/* scroll bar */

.hero_section {
  background-color: rgba(198, 252, 236, 0.3) !important;
  height: 100vh;
  padding: 15% 0 8%;
}

.header_proj.home::before {
  background-color: rgba(198, 252, 236, 0.4);
}
.header_proj.home .content h5 {
  font-size: 3rem;
  font-family: "regular";
  color: var(--color-white);
  position: relative;
}
.header_proj.home .content h5::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 4px;
  color: var(--color-primary);
  background-color: var(--color-primary);
  top: 28px;
  left: -103px;
}
.header_proj.home .content h1 {
  font-size: 6.5rem;
  color: var(--color-text);
  font-family: "bold";
}
.header_proj.home .content .button {
  width: 50%;
}
.header_proj.home .content .button .first {
  background-color: rgba(198, 252, 236, 0.3);
  padding: 3% 0;
  font-size: 1.2rem;
}
/* contact */
.input-group .form-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "regular";
}
.input-group {
  position: relative;
  margin-bottom: 3%;
}
.input-group .form-control {
  border-radius: 6px !important;
  padding-right: 6%;
  background-color: transparent;
  color: var(--color-white);
  font-family: "regular";
  border: 1px solid var(--color-text);
}

.form-control:focus {
  box-shadow: none !important;
  border-color: transparent;
  border-bottom: 1px solid var(--color-primary);
}
.form-control::placeholder {
  font-family: "regular" !important;
  font-size: 0.9rem;
  color: var(--color-pargraph);
}
textarea {
  height: 100px;
}
textarea.form-control {
  padding-right: 2%;
}

.contact_us h2 {
  font-size: 2rem;
  font-family: "bold";
  color: var(--color-text);
}
.contact_us h6 {
  font-size: 1.5rem;
  font-family: "semibold";
  color: var(--color-pargraph);
}
.contact_us p {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-secound);
}

.contact_us .social_links {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: flex-start;
  margin-bottom: 0;
}
.contact_us .social_links li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 4%;
  border: 1px solid var(--color-primary);
  transition: 0.25s all ease-in-out;
}
.contact_us .social_links li:hover {
  background-color: var(--color-primary);
}
.contact_us .social_links li:hover a i {
  color: var(--color-white);
}

.contact_us .social_links li a i {
  color: var(--color-primary);
  transition: 0.25s all ease-in-out;
  font-size: 1.5rem;
}
.button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}
.button .first {
  background-color: transparent;
  color: var(--color-text);
  font-family: "regular";
  border: 1px solid var(--color-third);
  border-radius: 6px;
  width: 50%;
  transition: 0.25s all ease-in-out;
}
.button .first:hover {
  background: transparent;
  color: var(--color-third);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  border: 2px solid var(--color-third);
}

.grid_information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}
.grid_information .u-container-style {
  width: 30%;
}
/* our team */
.our_team {
  padding: 5% 0;
}
.our_team .main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
  flex-direction: column;
}
.our_team .main_title h2 {
  font-size: 2rem;
  font-family: "bold";
  color: var(--color-text);
}
.our_team .main_title p {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-secound);
  text-align: center;
  padding: 0 20%;
}
.our_team .swiper {
  width: 100%;
  height: 550px;
}
.our_team .swiper .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  margin: 2% 0;
  height: 289px;
}
.our_team .swiper .swiper-slide .box_testiomnies {
  margin-top: 30px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}
.our_team .swiper .swiper-slide .box_testiomnies .img {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
}
.our_team .swiper .swiper-slide .box_testiomnies:hover .img::after {
  opacity: 0.85;
  top: 0;
}
.our_team .swiper .swiper-slide .box_testiomnies .img::after {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #3739c2),
    to(#000)
  );
  background: -webkit-linear-gradient(top, #197fe6, #000);
  background: linear-gradient(180deg, #197fe6 0, #000);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  opacity: 0;
  --webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.our_team .swiper .swiper-slide .box_testiomnies .img img {
  width: 100%;
  height: 100%;
}
.our_team .swiper .swiper-slide .box_testiomnies .inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px 40px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.our_team .swiper .swiper-slide .box_testiomnies:hover .inner {
  opacity: 1;
  visibility: visible;
}
.our_team .swiper .swiper-slide .box_testiomnies:hover h4,
.our_team .swiper .swiper-slide .box_testiomnies:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.our_team .swiper .swiper-slide .box_testiomnies:hover h4 {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.our_team .swiper .swiper-slide .box_testiomnies:hover span {
  -webkit-transition-delay: 0.33s;
  transition-delay: 0.33s;
}
.our_team .swiper .swiper-slide .box_testiomnies h4 {
  font-size: 1.2rem;
  color: var(--color-white);
  font-family: "bold";
  margin-top: 4px;
  margin-bottom: 4px;
}
.our_team .swiper .swiper-slide .box_testiomnies span {
  color: #949494;
  font-family: "light";
  font-size: 0.9rem;
}

.our_team .swiper .swiper-slide .box_testiomnies .social_icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 0;
  top: auto;
  left: 18px;
  bottom: 108px;
  position: absolute;
  padding: 0;
  z-index: 2;
  margin: 0 -10px;
}
.our_team .swiper .swiper-slide .box_testiomnies .social_icons li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 4%;
  -webkit-transform: translateY(8px) scale(0.8);
  transform: translateY(8px) scale(0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 0.88, 0.34, 0.99);
  transition: all 0.45s cubic-bezier(0.23, 0.88, 0.34, 0.99);
}
.our_team .swiper .swiper-slide .box_testiomnies:hover .social_icons li {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.our_team
  .swiper
  .swiper-slide
  .box_testiomnies:hover
  .social_icons
  li:first-child {
  -webkit-transition-delay: 0.07692s;
  transition-delay: 0.07692s;
}
.our_team
  .swiper
  .swiper-slide
  .box_testiomnies:hover
  .social_icons
  li:nth-child(2) {
  -webkit-transition-delay: 0.15385s;
  transition-delay: 0.15385s;
}
.our_team
  .swiper
  .swiper-slide
  .box_testiomnies:hover
  .social_icons
  li:nth-child(3) {
  -webkit-transition-delay: 0.23077s;
  transition-delay: 0.23077s;
}
.our_team
  .swiper
  .swiper-slide
  .box_testiomnies:hover
  .social_icons
  li:nth-child(4){
    -webkit-transition-delay: 0.33077s;
    transition-delay: 0.33077s;
  }
.our_team .swiper .swiper-slide .box_testiomnies .social_icons li i {
  color: var(--color-white);
  transition: 0.25s all ease-in-out;
  font-size: 1.4rem;
}
.our_team .swiper .swiper-slide .box_testiomnies .social_icons li i:hover {
  color: var(--color-primary);
}
.our_team .swiper .swiper-pagination-bullet-active {
  color: var(--color-primary);
  width: 30px;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 18%;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 129px !important;
}
/* our team */

/* testiomnies  */
.testiomnies_section {
  background-color: #f2f2f2;
}

.testiomnies_section .main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
  flex-direction: column;
}
.testiomnies_section .main_title h2 {
  font-size: 2rem;
  font-family: "bold";
  color: var(--color-text);
}
.testiomnies_section .main_title p {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-secound);
  text-align: center;
  padding: 0 20%;
}
.testiomnies_section .u-image-circle img {
  width: 100%;
  height: 100%;
}
/* testiomnies  */

/* portfolio sec */
.portfolio_section {
  padding: 5% 0;
  background-color: rgba(55, 57, 194, 0.05);
}
.portfolio_section .main_title {
  padding: 5% 0;
  text-align: center;
}
.portfolio_section .main_title h2 {
  font-size: 4rem;
  font-family: "bold";
  color: var(--color-text);
}
.portfolio_section .main_title p {
  font-size: 1.5rem;
  font-family: "regular";
  color: var(--color-secound);
  text-align: center;
  padding: 0 15%;
}

.portfolio_section .box-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.portfolio_section .box-menu ul li {
  width: calc(100% / 6);
  cursor: pointer;
  font-family: "regular";
  margin-left: 1%;
}
.portfolio_section .box-menu ul li .nav-link {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: var(--color-primary);
  padding: 0.1rem 0.4rem;
  margin-left: 1%;
  width: 100%;
  transition: 0.25s all ease-in-out;
  height: 3rem;
}
.portfolio_section .box-menu ul li .nav-link:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.portfolio_section .box-menu ul li.mixitup-control-active .nav-link {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 5px;
}
.portfolio_section .box-menu ul li.mixitup-control-active .nav-link i {
  font-size: 1rem;
  transition: 0.25s color ease-in-out;
  color: var(--color-white) !important;
}
.portfolio_section .box-menu ul li.nav-item {
  text-align: center;
  width: 100px;
}
.portfolio_section .box-menu ul li.nav-item .nav-link {
  padding: 0.1rem 2rem;
}
.portfolio_section .box-list {
  margin-top: 5%;
}
.portfolio_section .box-list .card {
  border-radius: 2px;
  padding: 3% 2%;
  margin-bottom: 4%;
}

.card_portfolio .thumbnail-inner {
  transition: transform 0.28s ease;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.card_portfolio .thumbnail-inner::before {
  background-color: var(--color-primary);
  background-image: linear-gradient(#3739c2 10%, #000000 100%);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  transition: transform 0.28s ease;
}
.card_portfolio .thumbnail-inner .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-color: #0a0a0a;
  /* background-image: url(/assets/images/portfolio/portfolio-1.jpg); */
  transform: scale(1.13) translateZ(0);
  backface-visibility: hidden;
  transition: transform 0.28s ease;
  z-index: 4;
}
.card_portfolio:hover .thumbnail-inner {
  -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0);
}
.card_portfolio:hover .thumbnail-inner:before {
  opacity: 0.85;
}
.card_portfolio:hover .thumbnail {
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}
.card_portfolio .thumbnail-inner .thumbnail::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: " ";
  z-index: 1;
  display: block;
  border-radius: 5px;
  background-color: rgba(25, 25, 25, 0.37);
  transition: 0.25s all ease-in;
}
.card_portfolio:hover .thumbnail:after {
  background-color: rgba(25, 25, 25, 0.24);
}
.card_portfolio .thumbnail-inner .bg-blr-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #0a0a0a;
  transition: 0.25s all ease-in;
  transform: translateY(38px);
  opacity: 0;
  z-index: 1;
}
.card_portfolio:hover .bg-blr-image {
  opacity: 0;
  z-index: 9;
}
.card_portfolio {
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 6px;
  min-height: 400px;
}
.card_portfolio .content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  max-width: 100% !important;
  z-index: 10;
  padding: 0;
}
.card_portfolio .content .inner p {
  color: var(--color-pargraph);
  font-size: 14px;
  font-family: "bold";
}
.card_portfolio .content .inner h4 {
  font-size: 24px;
  line-height: 36px;
}
.card_portfolio .content .inner h4 a {
  color: var(--color-white);
  font-family: "regular";
}
.card_portfolio .content .inner .portfolio-button {
  transition: transform 0.28s ease;
  margin-top: 35px;
  transition: 0.7s;
}
.card_portfolio .content .inner .portfolio-button a.rn-btn {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "regular";
  padding: 0 23px;
  height: 40px;
  display: inline-block;
  line-height: 34px;
  border-radius: 4px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.card_portfolio .content .inner .portfolio-button a.rn-btn:hover {
  border-color: var(--color-primary);
}
.card_portfolio .content .inner .portfolio-button a.rn-btn:hover {
  border-color: #000;
}

/* portfolio sec  */

/* project page */
.header_proj {
  height: 100vh;
  position: relative;
  z-index: 1;
  padding: 120px 0;
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.header_proj .ken-burn {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  height: 500px;
  width: 100%;
  position: relative;
}
.header_proj::before {
  opacity: 0.6;
  background-color: rgba(198, 252, 236, 0.1);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.header_proj .ken-burn img {
  /* animation: kenburns 25s infinite; */
  /* width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
  background-position: center; */
}

.header_proj .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 10%;
  width: 100%;
  height: 100%;
}

.header_proj .content h1 {
  font-family: "bold";
  font-size: 3rem;
  background: var(--color-third);
  background: -webkit-linear-gradient(305deg, #00bf95, #00adbb);
  background: linear-gradient(145deg, #00bf95, #00adbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_proj .content .page-list {
  padding: 0;
  margin: 0;
}
.header_proj .content .page-list .breadcrumb-item {
  display: inline-block;
  font-size: 1.3rem;
  font-family: "bold";
  color: #fff;
  transition: 0.25s all ease-in-out;
}
.header_proj .content .page-list .breadcrumb-item a {
  transition: 0.25s all ease-in-out;
}
.header_proj .content .page-list .breadcrumb-item:hover {
  color: var(--color-primary);
}
.header_proj .content .page-list .breadcrumb-item.active {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-family: "regular";
}
.breadcrumb-item + .breadcrumb-item:before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}
.header_proj .content h5 {
  color: var(--color-pargraph);
  font-family: "regular";
  font-size: 2rem;
}
.content_proj {
  padding: 5% 12%;
  background-color: rgba(55, 57, 194, 0.1);
}
.content_proj .main_head {
  font-size: 2.5rem;
  font-family: "bold";
  color: var(--color-primary);
  padding-bottom: 4%;
  border-bottom: 1px solid #e1e1e1;
  line-height: 27px;
}
.content_proj .description {
  padding: 3% 0;
}
.content_proj .description h4 {
  font-family: "semibold";
  color: var(--color-text);
  font-size: 2.1rem;
}
.content_proj .description p {
  font-family: "regular";
  color: var(--color-pargraph);
  font-size: 1.5rem;
  margin-top: 3%;
}
.content_proj .infprmation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3% 0;
}
.content_proj .infprmation .box {
  margin-inline-end: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content_proj .infprmation .box span {
  font-family: "regular";
  color: var(--color-pargraph);
  font-size: 1rem;
  margin-top: 3%;
}
.content_proj .infprmation .box h5 {
  margin-top: 2%;
  font-size: 1.4rem;
}
.content_proj .social_icons {
  margin: 4% 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.content_proj .social_icons li {
  margin: 6px;
  transition: 0.25s all ease-in-out;
}
.content_proj .social_icons li a {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 44px;
  font-size: 16px;
  border: 2px solid rgba(198, 201, 216, 0.9);
  color: rgba(198, 201, 216, 0.9);
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  transition: 0.25s all ease-in-out;
}
.content_proj .social_icons li:hover a {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.content_proj .social_icons li:hover a i {
  color: white;
}
.content_proj .social_icons li a i {
  font-size: 1.1rem;
  transition: 0.25s all ease-in-out;
}

/* project page */

/* start stikey header */
.stikey-header {
  width: 100%;
  min-height: 50px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.stikey-header .social {
  padding: 2% 0;
  margin: 0;
}
.stikey-header .social li {
  margin-inline-end: 3%;
}
.stikey-header .social i {
  transition: all 0.3s ease-in-out;
  color: var(--color-white);
  font-size: 1.7rem;
}
.stikey-header .social i:hover {
  color: var(--color-primary);
}
.stikey-header .connection {
  margin: auto 0;
  padding-top: 14px;
  align-items: center;
}
.stikey-header .connection .adress:last-of-type {
  padding-inline-start: 16px;
  border-left: 2px solid var(--color-third);
}
.stikey-header .connection .adress:first-of-type {
  padding-inline-end: 16px;
}
.stikey-header .connection .adress a {
  color: var(--color-white);
  font-size: 1.2rem;
  font-family: "medium";
  transition: all 0.3s ease-in-out;
}
.stikey-header .connection .adress a:hover {
  color: var(--color-primary);
}
.stikey-header .connection .adress i {
  font-size: 14px;
  color: var(--color-third);
}
/* finish stikey header */

/* light box */
.image-gellary {
  display: flex;
  padding: 5% 0;
  justify-content: center;
  align-items: center;
}
.image-gellary h2 {
  font-size: 3rem;
  font-family: "bold";
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  transition: 0.25s all ease-in-out;
}
.gallery img:hover {
  opacity: 0.5;
}
.lb-data .lb-close {
  position: absolute;
  top: 0;
  left: 27%;
}

.lightbox .lb-image {
  width: 500px !important ;
  height: 500px !important;
}
.lb-nav a.lb-prev,
.lb-nav a.lb-next {
  opacity: 0.6;
}
/* light box */

/* relatd project */
.related_project {
  position: relative;
  padding: 5% 0;
}
.related_project .main_title {
  text-align: center;
  padding-bottom: 8%;
}

.related_project .main_title span {
  font-size: 1.5rem;
  font-family: "semibold";
  color: var(--color-primary);
}

.related_project .main_title h2 {
  font-size: 2.5rem;
  font-family: "bold";
  color: var(--color-text);
}
.related_project .swiper {
  width: 100%;
  height: 450px;
}
.related_project .swiper .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  margin: 2% 0;
  height: 350px;
}
.related_project .swiper .swiper-slide .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.related_project .swiper .swiper-slide .content .img {
  width: 100%;
  height: 100%;
}
.related_project .swiper .swiper-slide .content .img:hover img {
  opacity: 0.5;
}
.related_project .swiper .swiper-slide .content .img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
}
.related_project .swiper .swiper-slide .content h5 {
  font-size: 1.5rem;
  font-family: "semibold";
  color: var(--color-primary);
  margin-top: 2%;
}
.related_project .swiper .swiper-slide .content span {
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-pargraph);
}
/* relatd project */

/* service section */
.service_section {
  padding: 5% 0;
  position: relative;
}
.service_section .main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
  flex-direction: column;
}
.service_section .main_title h2 {
  font-size: 4rem;
  font-family: "bold";
  color: var(--color-text);
}
.service_section .main_title p {
  font-size: 1.5rem;
  font-family: "regular";
  color: var(--color-secound);
  text-align: center;
  padding: 0 15%;
}
.service_section .service_box::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3739c2),
    to(#197fe6)
  );
  background-image: -webkit-linear-gradient(left, #3739c2, #197fe6);
  background-image: linear-gradient(90deg, #3739c2, #197fe6);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}
.service_section .service_box:hover::before {
  opacity: 1;
  visibility: visible;
}
.service_section .service_box {
  position: relative;
  padding: 5% 3%;
  z-index: 3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.service_section .service_box:hover {
  box-shadow: 0 10px 25px 10px rgb(0 0 0 / 10%);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.service_section .service_box i {
  font-size: 2.5rem;
  color: var(--color-primary);
}
.service_section .service_box:hover i {
  color: #fff;
}
.service_section .service_box h5 {
  font-size: 1.7rem;
  color: var(--color-text);
  font-family: "bold";
}
.service_section .service_box:hover h5 {
  color: #fff;
}
.service_section .service_box p {
  font-size: 1.2rem;
  color: var(--color-pargraph);
  font-family: "regular";
  margin-top: 9px;
}
.service_section .service_box:hover p {
  color: #fff;
}
/* service section */

/* service page */
.service_content {
  padding: 5% 0;
  position: relative;
}
.service_content .content {
  padding: 3% 2%;
}
.service_content .content p {
  color: var(--color-pargraph);
  font-family: "regular";
  font-size: 1.2rem;
  line-height: 1.5;
}
.service_content .content h4 {
  font-size: 1.5rem;
  color: var(--color-text);
  font-family: "bold";
  margin: 3% 0;
}
.service_content .content ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.service_content .content li {
  font-size: 18px;
  line-height: 30px;
  color: rgba(29, 29, 36, 0.75);
  position: relative;
  padding-inline-start: 30px;
}
.service_content .content li:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: rgba(29, 29, 36, 0.75);
  left: 0;
  top: 10px;
}
.service_content .img {
  width: 100%;
  height: fit-content;
}
.service_content .img img {
  width: 100%;
  height: 100%;
}
.service_content .row:nth-child(even) {
  flex-direction: row-reverse;
  margin: 4% 0;
}
/* service page */
/* footer section */
footer {
  margin-top: 5%;
  display: block;
}
footer .footer_sec {
  background-image: url("/images/bg-image-8.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 150px 70px 170px 120px;
  position: relative;
  z-index: 1;
}
footer .footer_sec::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #00010c;
  border-top-left-radius: 6px;
}
footer .footer_sec .head_footer {
  font-size: 1.7rem;
  font-family: "bold";
  margin: 2% 0 10%;
  color: #c6c9d8;
  opacity: 0.7;
}
footer .footer_sec ul li {
  margin-bottom: 8%;
}
footer .footer_sec ul li a {
  font-size: 1.1rem;
  font-family: "regular";
  color: #c6c9d8;
  opacity: 0.8;
  transition: 0.25s all ease-in-out;
}
footer .footer_sec ul li a:hover {
  color: var(--color-primary);
  opacity: 1;
}
footer .footer_sec ul li .social_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .footer_sec ul li .social_icons li {
  margin-inline-end: 5%;
}
/* footer section */
footer .footer_sec .copy_rights {
  position: absolute;
  bottom: 20px;
  text-align: center;
}
footer .footer_sec .copy_rights p {
  color: #c6c9d8;
  font-size: 1.2rem;
  opacity: 0.8;
  font-family: "regular";
}
footer .footer_fir {
  background: -webkit-linear-gradient(305deg, #3739c2, #197fe6);
  background: linear-gradient(145deg, #3739c2, #197fe6);
  padding: 120px;
  z-index: 2;
  margin-right: -15px;
  border-top-right-radius: 6px;
  position: relative;
}
footer .footer_fir::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("/images/pattern-1.png");
  content: "";
  z-index: 1;
  opacity: 0.5;
  border-top-right-radius: 6px;
}
footer .footer_fir .inner {
  z-index: 5;
  position: relative;
}
footer .footer_fir .inner h6 {
  color: #fff;
  font-family: "regular";
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 9px;
}
footer .footer_fir .inner h2 {
  font-family: "bold";
  color: var(--color-white);
  font-size: 4rem;
  line-height: 90px;
}
footer .footer_fir .inner::after {
  content: url("/images/big-logo.png");
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  font-size: 240px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 295px;
  height: 301px;
}

.row--0 {
  margin-left: 0;
  margin-right: 0;
}
footer .footer_fir .inner .button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 3%;
}

footer .footer_fir .inner .button .first {
  background-color: transparent;
  color: var(--color-white);
  font-family: "regular";
  border: 1px solid var(--color-white);
  border-radius: 6px;
  width: 50%;
  transition: 0.25s all ease-in-out;
}
footer .footer_fir .inner .button .first:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
/* finish footer */

/* start navbar */
.navbar {
  background-color: rgba(198, 252, 236, 0.41);
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
  /* backdrop-filter: blur(10px); */
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar.home {
  top: 8%;
  background-color: rgba(198, 252, 236, 0.3);
}
.navbar #navbarNavDropdown {
  padding-inline-start: 5%;
}
.navbar .navbar-brand {
  width: 365px;
  height: 91px;
}
.navbar .navbar-brand img {
  width: 100%;
  height: 100%;
}
.navbar .navbar-collapse {
  width: 100%;
}
.navbar .navbar-collapse .navbar-nav {
  width: 85%;
  justify-content: center;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  transition: 0.35s all ease-in;
  position: relative;
}
.navbar .navbar-collapse .navbar-nav .nav-item .drop-menu {
  position: absolute;
  display: none;
  width: 350px;
  max-width: 1000px;
  min-width: 10em;
  height: fit-content;
  background-color: var(--color-white);
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}
.navbar .navbar-collapse .navbar-nav .nav-item .drop-menu li {
  margin-bottom: 5%;
  border-bottom: 1px solid var(--color-primary);
  width: 100%;
  padding: 0 4%;
}
.navbar .navbar-collapse .navbar-nav .nav-item .drop-menu li:hover {
  background-color: rgba(141, 181, 83, 0.1);
}
.navbar .navbar-collapse .navbar-nav .nav-item .drop-menu li a {
  color: var(--color-text);
  font-family: "regular";
}
.navbar .navbar-collapse .navbar-nav .nav-item .drop-menu li a:hover {
  color: var(--color-primary);
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.3rem;
  font-family: "regular";
  color: var(--color-text);
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.25s all;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: var(--color-primary);
  font-family: "bold";
  transition: 0.25s all ease-in-out;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-primary);
}
.navbar .navbar-collapse .dropdown-lang .dropdown-toggle {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0;
  font-size: 1rem;
  font-family: "regular";
  color: var(--color-text);
}
.navbar .navbar-collapse .dropdown-lang .dropdown-menu {
  min-width: 5rem;
}
.navbar .navbar-collapse .dropdown-lang .dropdown-menu .dropdown-item {
  font-family: "regular";
  font-size: 0.8rem;
  color: var(--color-text);
}

/* finish navbar */

/* start button up */

#button {
  display: inline-block;
  background-color: var(--color-white);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 30px;
  transition: background-color 0.5s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border: 1px solid var(--color-primary);
  animation: move-toggs 3s linear infinite;
}
#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--color-primary);
}
#button i {
  color: var(--color-primary);
  margin: auto;
  font-size: 22px;
  transition: 0.3s all;
}
#button:hover {
  background-color: var(--color-third);
  border-color: var(--color-third);
  cursor: pointer;
}
#button:hover i {
  color: var(--color-white);
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/* finish button up */

/* start preloader */

#preloader {
  background-image: url(../images/loader\ \(2\).svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:#fff;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

/* finish preloader */
/* hamburger icon */

.navbar .navbar-toggler {
  cursor: pointer;
  border: 1px solid var(--color-white);
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px 7px !important;
  outline: none !important;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--color-white) !important;
  width: 1.8em !important;
  height: 1.8em !important;
  padding: 0 7px 2px !important;
}

.navbar .navbar-toggler-icon {
  transition: all 0.2s ease-out;
  transform: rotate(0 deg);
  width: 1em !important;
  height: 2px !important;
  display: flex;
  background-image: none;
  background-color: var(--color-white);
  position: absolute !important;
  transition: all 0.2s ease-in;
}
.navbar .navbar-toggler-icon::before {
  width: 1em !important;
  height: 2px !important;
  display: flex;
  background-image: none;
  background-color: var(--color-white);
  position: absolute !important;
  transition: all 0.2s ease-in;
  content: "";
  display: block;
  top: -0.3em;
}
.navbar .navbar-toggler-icon::after {
  width: 1em !important;
  height: 2px !important;
  display: flex;
  background-image: none;
  background-color: var(--color-white);
  position: absolute !important;
  transition: all 0.2s ease-in;
  content: "";
  display: block;
  bottom: -0.3em;
}

.active-hamburger .navbar-toggler-icon {
  transition: 0.2s;
  transform: rotate(405deg);
}
.active-hamburger .navbar-toggler-icon::before {
  top: 0;
  opacity: 0;
}
.active-hamburger .navbar-toggler-icon::after {
  transition: 0.2s;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0;
  right: 0;
}
/* hamburger icon */
/* contact page */
.information_contact {
  padding: 10% 0;
  position: relative;
  background-color: #f8f9fc;
}
.information_contact .rn-address {
  margin-top: 30px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background: #fff;
  padding: 54px 40px 50px;
  position: relative;
}
.information_contact .rn-address .icon {
  border: 1px solid #ebebeb;
  width: 78px;
  height: 78px;
  color: var(--color-primary);
  line-height: 73px;
  text-align: center;
  border-radius: 100%;
  background: #fff;
  font-size: 28px;
  position: absolute;
  top: -43px;
  left: 47px;
  --webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.information_contact .rn-address:hover .icon {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}
.information_contact .rn-address .inner h4 {
  font-size: 1.2rem;
  font-family: "bold";
  color: var(--color-text);
  margin: 0 0 15px;
}
.information_contact .rn-address .inner p {
  font-size: 18px;
  font-family: "regular";
  margin-bottom: 0;
  color: rgba(29, 29, 36, 0.75);
  --webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.information_contact .rn-address .inner p:hover,
.information_contact .rn-address .inner p:hover a {
  color: var(--color-primary);
}
.information_contact .rn-address .inner p a {
  color: var(--color-pargraph);
}
.contact_us {
  padding: 5% 0;
}
.contact_us .main_title {
  margin-bottom: 50px;
  text-align: left;
}
.contact_us .main_title h1 {
  font-size: 3rem;
  font-family: "bold";
  color: var(--color-text);
}
.contact_us .main_title p {
  font-size: 2rem;
  color: var(--color-pargraph);
}

/* contact page */
/* about us */
.about_us {
  position: relative;
  padding: 9% 0;
  background-color: rgba(198, 252, 236, 0.1);
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
}
.about_us .img {
  width: 100%;
  height: 650px;
  padding: 4% 0;
}
.about_us .img img {
  width: 100%;
  height: 100%;
}
.about_us .content {
  padding-top: 15%;
}
.about_us .content h2 {
  margin: 0 0 15px;
  font-size: 3.9rem;
  font-family: "bold";
  color: var(--color-text);
}
.about_us .content h4 {
  margin: 0 0 15px;
  font-size: 1.3rem;
  font-family: "semibold";
  color: var(--color-text);
}
.about_us .content p {
  color: var(--color-pargraph);
  font-size: 1.1rem;
  font-family: "regular";
  line-height: 30px;
  margin: 0 0 15px;
}
/* about us */
